<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.permission">

    <application>


        <activity android:name=".tools.XActivityResult$XActivityResultActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

    </application>
</manifest>